@charset "UTF-8";
body {
	font-family:roboto;
}
h1 {
	text-align: center;
}
.thongtin{
	font-size:20px;
}
img {
	display: block;
	height: 400px;
	width: 900px;
	margin-right: auto;
	margin-left: auto;
}